@using ENISNC.ViewModels
@model SectionViewModel

@{
    ViewData["Title"] = "Create";
}
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <a class="navbar-brand" href="/">
                <!-- Logo icon -->
                <b class="logo-icon">
                    <!-- Dark Logo icon -->
                    <img src="~/plugins/images/ENIS.png" alt="homepage" style="width:95%;height:100%" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->

            </a>
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/"
                       aria-expanded="false">
                        <i class=" fas fa-home" aria-hidden="true"></i>
                        <span class="hide-menu">Home</span>
                    </a>
                </li>
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/SectionsStudent"
                       aria-expanded="false">
                        <i class="fas fa-users" aria-hidden="true"></i>
                        <span class="hide-menu">Class</span>
                    </a>
                </li>
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/PapersStudent"
                       aria-expanded="false">
                        <i class="fas fa-copy" aria-hidden="true"></i>
                        <span class="hide-menu">Paper request</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/DepartementsStudent"
                       aria-expanded="false">
                        <i class="fas fa-university" aria-hidden="true"></i>
                        <span class="hide-menu">Departements</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/DemandePFEsStudent"
                       aria-expanded="false">
                        <i class=" fas fa-file" aria-hidden="true"></i>
                        <span class="hide-menu">Demande PFE</span>
                    </a>
                </li>
                <li class="sidebar-item">

                </li>

                <li class="text-center p-20 upgrade-btn">
                    <a class="btn d-grid btn-danger text-white" target="_blank">
                        ENIS SFAX
                    </a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<div class="page-wrapper" style="min-height: 250px;">
    <div class="page-breadcrumb bg-white">

<h1>Create</h1>

<h4>Section</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.section!.sectionName" class="control-label"></label>
                <input asp-for="@Model.section!.sectionName" class="form-control" />
                <span asp-validation-for="@Model.section!.sectionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.section!.Grade" class="control-label"></label>
                <input asp-for="@Model.section!.Grade" class="form-control" />
                <span asp-validation-for="@Model.section!.Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.section!.schoolYear" class="control-label"></label>
                <input asp-for="@Model.section!.schoolYear" class="form-control" />
                <span asp-validation-for="@Model.section!.schoolYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.section!.DepartementId" class="control-label"></label>
                <select asp-for="@Model.section!.DepartementId" asp-items="@(new SelectList(Model.departements!, "DepartementId", "spacialitée"))">
                </select>

            </div>
            <div class="form-group">
                <input type="hidden" asp- />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
</div>




