@model IEnumerable<ENISNC.Models.Section>

@{
    ViewData["Title"] = "Index";
}
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <a class="navbar-brand" href="/">
                <!-- Logo icon -->
                <b class="logo-icon">
                    <!-- Dark Logo icon -->
                    <img src="~/plugins/images/ENIS.png" alt="homepage" style="width:95%;height:100%" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->

            </a>
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/"
                       aria-expanded="false">
                        <i class=" fas fa-home" aria-hidden="true"></i>
                        <span class="hide-menu">Home</span>
                    </a>
                </li>
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/SectionsStudent"
                       aria-expanded="false">
                        <i class="fas fa-users" aria-hidden="true"></i>
                        <span class="hide-menu">Class</span>
                    </a>
                </li>
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/PapersStudent"
                       aria-expanded="false">
                        <i class="fas fa-copy" aria-hidden="true"></i>
                        <span class="hide-menu">Paper request</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/DepartementsStudent"
                       aria-expanded="false">
                        <i class="fas fa-university" aria-hidden="true"></i>
                        <span class="hide-menu">Departements</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/DemandePFEsStudent"
                       aria-expanded="false">
                        <i class=" fas fa-file" aria-hidden="true"></i>
                        <span class="hide-menu">Demande PFE</span>
                    </a>
                </li>
                <li class="sidebar-item">

                </li>

                <li class="text-center p-20 upgrade-btn">
                    <a class="btn d-grid btn-danger text-white" target="_blank">
                        ENIS SFAX
                    </a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<div class="page-wrapper" style="min-height: 250px;">
    <div class="page-breadcrumb bg-white">

<h1>Sections</h1>
<br />
<br />
        <br />
        <br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.schoolYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.schoolYear)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.SectionId" class=" fas fa-align-justify"></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
